:root {
    /* Default colours, set to light theme initially */
    --primary-color: #FFFFFF;
    --secondary-color: #FFFFFF;
    --bg-color: #e7ded9;
    --font-color: #13292a;
    --heading-color: #988780;
}

body {
    /* set the background colour to the bg-color variable */
    background-color: var(--bg-color);
    /* set font colour to the font-color variable */
    color: var(--font-color);
}

/* set heading colour to the heading-color variable */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

[data-theme="dark"] {
    /* set the primary colour to the primary-color variable */
    --primary-color: #13292a;
    /* set the secondary colour to the secondary-color variable */
    --secondary-color: #13292a;
    /* set the background colour to the bg-color variable */
    --bg-color: #13292a;
    /* set the font colour to the font-color variable */
    --font-color: #e7ded9;
    /* set the heading colour to the heading-color variable */
    --heading-color: #988780;
}