body {
    background-color: antiquewhite;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}